*{
    margin: 0;
    padding: 0;
}

h1{
    background-color:#081b31 ;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;

}
h2{
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-size:3rem;
}

.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
   
}

img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top:2rem ;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;
}

#user-score,
#comp-score{
    font-size: 4rem; 
}

.msg-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    margin-top: 3rem;
   background-color: #081b31;
   color: #fff;
   font-size: 2rem;
   display: inline;
   padding: 1rem;
   border-radius:1rem ;
}

@media screen and (max-width: 600px){
    h1{
        background-color:#081b31 ;
        color: #fff;
        height: 3rem;
        font-size: 1.5rem;
        text-align: center;
        line-height: 3rem;
        width: 100%;
     }

     h2{
        height: 5rem;
        text-align: center;
        line-height: 5rem;
        font-size:2rem;
    }
     .choice{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .choices{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top:2rem ;
    }

    img{
        height: 95px;
        width: 95px;
        object-fit: cover;
        border-radius: 50%;
    }

    .score-board{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        margin-top: 2rem;
        gap: 3rem;
    }

    #user-score,
#comp-score{
    font-size: 3rem; 
}

.msg-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    margin-top: 3rem;
   background-color: #081b31;
   color: #fff;
   font-size: 1.2rem;
   display: inline;
   padding: 1rem;
   border-radius:1rem ;
}

    
}
